.toLeft {
    animation: 2.5s left;
}

@keyframes left {
    0% {
        transform: rotate(-10deg);
        top: -10px;
    }

    5% {
        transform: rotate(-40deg);
        top: -550px;
    }
}

.toRight {
    animation: 2.5s right;
}

@keyframes right {
    0% {
        transform: rotate(10deg);
        top: -10px;
    }

    5% {
        transform: rotate(40deg);
        top: -550px;
    }
}

